@charset "utf-8";
/* CSS Document */
body, table, form, input, select, textarea {
	font-family:Tahoma, Geneva, sans-serif;
	font-size:13px;
	color:#333;
	line-height:1.3em;
}
/*font size*/
.txt10 {
	font-size:10px;
	line-height:1.3em;
}
.txt11 {
	font-size:11px;
	line-height:1.3em;
}
.txt12 {
	font-size:12px;
	line-height:1.3em;
}
.txt13 {
	font-size:13px;
	line-height:1.3em;
}
.txt14 {
	font-size:14px;
	line-height:1.3em;
}
.txt15 {
	font-size:15px;
	line-height:1.3em;
}
.txt17 {
	font-size:17px;
	line-height:1.3em;
}
.txt18 {
	font-size:18px;
	line-height:1.3em;
}
.txt22 {
	font-size:22px;
	line-height:1.3em;
}
.txt25 {
	font-size:25px;
	line-height:1.3em;
}
.txt30 {
	font-size:30px;
	line-height:1.3em;
}
/*font color*/
.black {
	color:#000;
}
.white {
	color:#FFF;
}
.grey333 {
	color:#333;
}
.grey666 {
	color:#666;
}
.grey999 {
	color:#999;
}
.grey3B {
	color:#3B3B3D;
}
.green {
	color:#98C63D;
}
.green007F00 {
	color:#007F00;
}

.greenlight {
	color:#BFE100;
}
.red {
	color:#B9041A;
}
/*link style*/
a {
	font-family:Tahoma, Geneva, sans-serif;
	font-size:13px;
	color:#333;
	line-height:1.3em;
	text-decoration:none;
}
a:hover {
	color:#333;
	font-size:13px;
	text-decoration:underline;
}
a.link10, a.link10:visited {
	font:Tahoma, Geneva, sans-serif;
	font-size:10px;
	color:#333;
	line-height:1.3em;
	text-decoration:none;
}
a.link10:hover, a.link10:active, a.link10:focus {
	color:#333;
	line-height:1.3em;
	text-decoration:underline;
}
a.link10grey, a.link10grey:visited {
	font:Tahoma, Geneva, sans-serif;
	font-size:10px;
	color:#666;
	line-height:1.3em;
	text-decoration:none;
}
a.link10grey:hover, a.link10grey:active, a.link10grey:focus {
	color:#666;
	line-height:1.3em;
	text-decoration:underline;
}

a.linkgreen10, a.linkgreen10:visited {
	font:Tahoma, Geneva, sans-serif;
	font-size:10px;
	color:#008600;
	line-height:1.3em;
	text-decoration:none;
}
a.linkgreen10:hover, a.linkgreen10:active, a.linkgreen10:focus {
	color:#008600;
	line-height:1.3em;
	text-decoration:underline;
}
a.link11, a.link11:visited {
	font:Tahoma, Geneva, sans-serif;
	font-size:11px;
	color:#333;
	line-height:1.3em;
	text-decoration:none;
}
a.link11:hover, a.link11:active, a.link11:focus {
	color:#333;
	line-height:1.3em;
	text-decoration:underline;
}
a.linkgreen11, a.linkgreen11:visited {
	font:Tahoma, Geneva, sans-serif;
	font-size:11px;
	color:#008600;
	line-height:1.3em;
	text-decoration:none;
}
a.linkgreen11:hover, a.linkgreen11:active, a.linkgreen11:focus {
	color:#008600;
	line-height:1.3em;
	text-decoration:underline;
}
a.linkblack11, a.linkblack11:visited {
	font:Tahoma, Geneva, sans-serif;
	font-size:11px;
	color:#000;
	text-decoration:none;
}
a.linkblack11:hover, a.linkblack11:active, a.linkblack11:focus {
	color:#000;
	text-decoration:underline;
}
a.linkwhite11, a.linkwhite11:visited {
	font:Tahoma, Geneva, sans-serif;
	font-size:11px;
	color:#FFF;
	text-decoration:none;
}
a.linkwhite11:hover, a.linkwhite11:active, a.linkwhite11:focus {
	color:#FFF;
	text-decoration:underline;
}
a.linkblack11bold, a.linkblack11bold:visited {
	font:Tahoma, Geneva, sans-serif;
	font-size:11px;
	font-weight:bolder;
	color:#000;
	text-decoration:none;
}
a.linkblack11bold:hover, a.linkblack11bold:active, a.linkblack11bold:focus {
	color:#000;
	text-decoration:underline;
}

a.linkgreen11bold, a.linkgreen11bold:visited {
	font:Tahoma, Geneva, sans-serif;
	font-size:11px;
	font-weight:bolder;
	color:#008700;
	text-decoration:none;
}
a.linkgreen11bold:hover, a.linkgreen11bold:active, a.linkgreen11bold:focus {
	color:#008700;
	text-decoration:underline;
}
a.linkgreen12bold, a.linkgreen12bold:visited {
	font:Tahoma, Geneva, sans-serif;
	font-size:12px;
	font-weight:bolder;
	color:#007F00;
	text-decoration:none;
}
a.linkgreen12bold:hover, a.linkgreen12bold:active, a.linkgreen12bold:focus {
	color:#007F00;
	text-decoration:underline;
}
a.linkgreen13hvrgray, a.linkgreen13hvrgray:visited {
	font:Tahoma, Geneva, sans-serif;
	font-size:13px;
	color:#008800;
	text-decoration:none;
}
a.linkgreen13hvrgray:hover, a.linkgreen13hvrgray:active, a.linkgreen13hvrgray:focus {
	color:#333;
	text-decoration:none;
}
a.linkgreen14hvrgray, a.linkgreen14hvrgray:visited {
	font:Tahoma, Geneva, sans-serif;
	font-size:14px;
	font-weight:bolder;
	color:#008800;
	text-decoration:none;
}
a.linkgreen14hvrgray:hover, a.linkgreen14hvrgray:active, a.linkgreen14hvrgray:focus {
	color:#333;
	text-decoration:none;
}
a.link12bold, a.link12bold:visited {
	font:Tahoma, Geneva, sans-serif;
	font-size:12px;
	font-weight:bolder;
	color:#333;
	text-decoration:none;
}
a.link12bold:hover, a.link12bold:active, a.link12bold:focus {
	color:#000;
	text-decoration:underline;
}
a.linkwhite12hvrgreenbold, a.linkwhite12hvrgreenbold:visited {
	font:Tahoma, Geneva, sans-serif;
	font-size:12px;
	color:#FFF;
	line-height:1.3em;
	text-decoration:none;
}
a.linkwhite12hvrgreenbold:hover, a.linkwhite12hvrgreenbold:active, a.linkwhite12hvrgreenbold:focus {
	color:#CAE001;
	font-weight:bolder;
	text-decoration:none;
}


a.linkgreen13, a.linkgreen13:visited {
	font:Tahoma, Geneva, sans-serif;
	font-size:13px;
	color:#007F00;
	text-decoration:none;
}
a.linkgreen13:hover, a.linkgreen13:active, a.linkgreen13:focus {
	color:#007F00;
	text-decoration:underline;
}
a.linkgreen12mapbold, a.linkgreen12mapbold:visited {
	font:Tahoma, Geneva, sans-serif;
	font-size:12px;
	font-weight:bolder;
	color:#CAE001;
	text-decoration:none;
}
a.linkgreen12mapbold:hover, a.linkgreen12mapbold:active, a.linkgreen12mapbold:focus {
	color:#CAE001;
	text-decoration:none;
}

a.linkgreen13bold, a.linkgreen13bold:visited {
	font:Tahoma, Geneva, sans-serif;
	font-size:13px;
	font-weight:bolder;
	color:#007F00;
	text-decoration:none;
}
a.linkgreen13bold:hover, a.linkgreen13bold:active, a.linkgreen13bold:focus {
	color:#007F00;
	text-decoration:underline;
}

a.linkgreen13boldvst333, a.linkgreen13boldvst333:visited {
	font:Tahoma, Geneva, sans-serif;
	font-size:13px;
	font-weight:bolder;
	color:#007F00;
	text-decoration:none;
}
a.linkgreen13boldvst333:hover {
	color:#007F00;
	text-decoration:underline;
}
a.linkgreen13boldvst333:active, a.linkgreen13boldvst333:focus{
	font:Tahoma, Geneva, sans-serif;
	font-size:13px;
	font-weight:bolder;
	color:#333;
	text-decoration:none;
}

a.linkgreenlight13bold, a.linkgreenlight13bold:visited {
	font:Tahoma, Geneva, sans-serif;
	font-size:13px;
	font-weight:bolder;
	color:#CADF00;
	text-decoration:none;
}
a.linkgreenlight13bold:hover, a.linkgreenlight13bold:active, a.linkgreenlight13bold:focus {
	color:#CADF00;
	text-decoration:underline;
}
a.linkgray13hovergreen, a.linkgray13hovergreen:visited {
	font:Tahoma, Geneva, sans-serif;
	font-size:13px;
	color:#666;
	font-weight:bolder;
	text-decoration:none;
}
a.linkgray13hovergreen:hover, a.linkgray13hovergreen:active, a.linkgray13hovergreen:focus {
	color:#98C53D;
	font-weight:bolder;
	text-decoration:none;
}

a.linkgray13hoverdarkgreenbold, a.linkgray13hoverdarkgreenbold:visited {
	font:Tahoma, Geneva, sans-serif;
	font-size:13px;
	color:#666;
	font-weight:bolder;
	text-decoration:none;
}
a.linkgray13hoverdarkgreenbold:hover, a.linkgray13hoverdarkgreenbold:active, a.linkgray13hoverdarkgreenbold:focus {
	color:#008800;
	font-weight:bolder;
	text-decoration:none;
}


a.linkgray13hoverdarkgreen, a.linkgray13hoverdarkgreen:visited {
	font:Tahoma, Geneva, sans-serif;
	font-size:13px;
	color:#666;
	font-weight:normal;
	text-decoration:none;
}
a.linkgray13hoverdarkgreen:hover, a.linkgray13hoverdarkgreen:active, a.linkgray13hoverdarkgreen:focus {
	color:#008800;
	font-weight:normal;
	text-decoration:none;
}

a.linkgray13hoverlightgreen, a.linkgray13hoverlightgreen:visited {
	font:Tahoma, Geneva, sans-serif;
	font-size:13px;
	color:#666;
	font-weight:normal;
	text-decoration:none;
}
a.linkgray13hoverlightgreen:hover, a.linkgray13hoverlightgreen:active, a.linkgray13hoverlightgreen:focus {
	color:#94C23C;
	font-weight:normal;
	text-decoration:underline;
}


a.linkgreen14, a.linkgreen14:visited {
	font:Tahoma, Geneva, sans-serif;
	font-size:14px;
	color:#008700;
	text-decoration:none;
}
a.linkgreen14:hover, a.linkgreen14:active, a.linkgreen14:focus {
	color:#008700;
	text-decoration:underline;
}
a.linkgreen14690, a.linkgreen14690:visited {
	font:Tahoma, Geneva, sans-serif;
	font-size:14px;
	color:#669900;
	text-decoration:underline;
}
a.linkgreen14lne690:hover, a.linkgreen14lne690:active, a.linkgreen14lne690:focus {
	color:#669900;
	text-decoration:underline;
}
a.link14hovergreen, a.link14hovergreen:visited {
	font:Tahoma, Geneva, sans-serif;
	font-size:14px;
	color:#CCC;
	text-decoration:none;
}
a.link14hovergreen:hover, a.link14hovergreen:active, a.link14hovergreen:focus {
	color:#CADF00;
	text-decoration:none;
}
a.linkgreen15bold, a.linkgreen15bold:visited {
	font:Tahoma, Geneva, sans-serif;
	font-size:15px;
	font-weight:bolder;
	color:#007F00;
	text-decoration:none;
}
a.linkgreen15bold:hover, a.linkgreen15bold:active, a.linkgreen15bold:focus {
	color:#007F00;
	text-decoration:underline;
}
a.linkwhite18bold, a.linkwhite18bold:visited {
	font:Tahoma, Geneva, sans-serif;
	font-size:18px;
	font-weight:bolder;
	color:#FFF;
	text-decoration:none;
}
a.linkwhite18bold:hover, a.linkwhite18bold:active, a.linkwhite18bold:focus {
	color:#FFF;
	text-decoration:underline;
}
a.link13bold, a.link13bold:visited {
	font:Tahoma, Geneva, sans-serif;
	font-size:13px;
	color:#333;
	font-weight:bolder;
	line-height:1.3em;
	text-decoration:none;
}
a.link13bold:hover, a.link13bold:active, a.link13bold:focus {
	color:#333;
	line-height:1.3em;
	font-weight:bolder;
	text-decoration:underline;
}
a.link14bold, a.link14bold:visited {
	font:Tahoma, Geneva, sans-serif;
	font-size:14px;
	color:#333;
	font-weight:bolder;
	line-height:1.3em;
	text-decoration:none;
}
a.link14bold:hover, a.link14bold:active, a.link14bold:focus {
	color:#333;
	line-height:1.3em;
	font-weight:bolder;
	text-decoration:underline;
}
a.linkwhite14bold, a.linkwhite14bold:visited {
	font:Tahoma, Geneva, sans-serif;
	font-size:14px;
	color:#FFF;
	font-weight:bolder;
	line-height:1.3em;
	text-decoration:none;
}
a.linkwhite14bold:hover, a.linkwhite14bold:active, a.linkwhite14bold:focus {
	color:#FFF;
	line-height:1.3em;
	font-weight:bolder;
	text-decoration:underline;
}
a.linkwhite13bold, a.linkwhite13bold:visited {
	font:Tahoma, Geneva, sans-serif;
	font-size:13px;
	font-weight:bolder;
	color:#FFF;
	text-decoration:none;
}
a.linkwhite13bold:hover, a.linkwhite13bold:active, a.linkwhite13bold:focus {
	color:#FFF;
	text-decoration:underline;
}
a.linkwhite13hvrgreen, a.linkwhite13hvrgreen:visited {
	font:Tahoma, Geneva, sans-serif;
	font-size:13px;
	color:#FFF;
	line-height:1.3em;
	text-decoration:none;
}
a.linkwhite13hvrgreen:hover, a.linkwhite13hvrgreen:active, a.linkwhite13hvrgreen:focus {
	color:#CAE001;
	text-decoration:none;
}

a.linkwhite13boldhvrgreen, a.linkwhite13boldhvrgreen:visited {
	font:Tahoma, Geneva, sans-serif;
	font-size:13px;
	color:#FFF;
	font-weight:bold;
	line-height:1.3em;
	text-decoration:none;
}
a.linkwhite13boldhvrgreen:hover, a.linkwhite13boldhvrgreen:active, a.linkwhite13boldhvrgreen:focus {
	color:#CAE001;
	text-decoration:none;
}


#footersitemap a.linkwhite13hvrgreen, #footersitemap a.linkwhite13hvrgreen:visited {
	font:Tahoma, Geneva, sans-serif;
	font-size:13px;
	color:#D6D6D8;
	line-height:1.3em;
	text-decoration:none;
}
#footersitemap a.linkwhite13hvrgreen:hover, #footersitemap a.linkwhite13hvrgreen:active, #footersitemap a.linkwhite13hvrgreen:focus {
	color:#CAE001;
	text-decoration:none;
}


a.link15, a.link15:visited {
	font:Tahoma, Geneva, sans-serif;
	font-size:15px;
	color:#333;
	line-height:1.3em;
	text-decoration:none;
}
a.link15:hover, a.link15:active, a.link15:focus {
	color:#333;
	line-height:1.3em;
	text-decoration:underline;
}
a.linkgrey14hvrred, a.linkgrey14hvrred:visited {
	font:Tahoma, Geneva, sans-serif;
	font-size:14px;
	color:#666;
	line-height:1.3em;
	text-decoration:none;
}
a.linkgrey14hvrred:hover, a.linkgrey14hvrred:active, a.linkgrey14hvrred:focus {
	color:#B9041A;
	line-height:1.3em;
	text-decoration:none;
}
a.linkgrey14hvrgreen, a.linkgrey14hvrgreen:visited {
	font:Tahoma, Geneva, sans-serif;
	font-size:14px;
	color:#666;
	line-height:1.3em;
	text-decoration:none;
}
a.linkgrey14hvrgreen:hover, a.linkgrey14hvrgreen:active, a.linkgrey14hvrgreen:focus {
	color:#007F00;
	line-height:1.3em;
	text-decoration:none;
}
a.linkgrey15bold, a.linkgrey15bold:visited {
	font:Tahoma, Geneva, sans-serif;
	font-size:15px;
	color:#666;
	font-weight:bolder;
	line-height:1.3em;
	text-decoration:none;
}
a.linkgrey15bold:hover, a.linkgrey15bold:active, a.linkgrey15bold:focus {
	color:#666;
	line-height:1.3em;
	text-decoration:underline;
}
/*PSL KittithadaCS*/
.pslKittithadawhite30bold {
	font-family:PSL KittithadaCS;
	font-weight:bold;
	font-style:normal;
	font-size:30px;
	color:#FFF;
	line-height:27px;
}
.pslKittithadagreen38bold {
	font-family:PSL KittithadaCS;
	font-weight:bold;
	font-style:normal;
	font-size:38px;
	color:#BFE000;
	line-height:35px;
}
.pslKittithada40bold {
	font-family:PSL KittithadaCS;
	font-weight:bold;
	font-style:normal;
	font-size:40px;
	line-height:35px;
}
.pslKittithada45bold {
	font-family:PSL KittithadaCS;
	font-weight:bold;
	font-style:normal;
	font-size:45px;
	line-height:40px;
}
.pslKittithadagreen50bold {
	font-family:PSL KittithadaCS;
	font-weight:bold;
	font-style:normal;
	font-size:50px;
	color:#13461D;
	line-height:45px;
}
.pslKittithadagreen90bold {
	font-family:PSL KittithadaCS;
	font-weight:bold;
	font-style:normal;
	font-size:90px;
	color:#BFE100;
	line-height:65px;
}
/*navigation style*/
#nav {
	font-size:11px;
	color:#000;
	height:23px; 
	padding-top:5px;
	padding-left:20px;
}

#nav2 {
	font-size:11px;
	color:#FFF;
	height:23px; 
	padding-top:5px;
}

/*Project Left menu*/
#projectmenu a.prjconcept, #projectmenu a.prjconcept:visited  {	
	background:  url(../images/th/projects/txt/mnu-project-concept.jpg) no-repeat;
	padding:10px 0px 0px 50px;
	height:25px;
	display: block;
	cursor:pointer;
	font-size:13px;
	color:#666;
	font-weight:bolder;
	text-decoration:none;
}

#projectmenu a.prjconcept:hover , #projectmenu a.prjconcept:active, #projectmenu a.prjconcept:focus {	
	background: url(../images/th/projects/txt/mnu-project-concept-ovr.jpg) no-repeat;
	color:#98C53D;
	text-decoration:none;
}
#projectmenu a.prjmodel, #prjmodel a.prjmodel:visited  {	
	background:  url(../images/th/projects/txt/mnu-project-model.jpg) no-repeat;
	padding:10px 0px 0px 50px;
	height:25px;
	display: block;
	cursor:pointer;
	font-size:13px;
	color:#666;
	font-weight:bolder;
	text-decoration:none;
}

#projectmenu a.prjmodel:hover , #projectmenu a.prjmodel:active, #projectmenu a.prjmodel:focus {	
	background: url(../images/th/projects/txt/mnu-project-model-ovr.jpg) no-repeat;
	color:#98C53D;
	text-decoration:none;
}

#projectmenu a.prjlocation,  #prjmodel a.prjlocation:visited  {	
	background:  url(../images/th/projects/txt/mnu-project-location.jpg) no-repeat;
	padding:10px 0px 0px 50px;
	height:25px;
	display: block;
	cursor:pointer;
	font-size:13px;
	color:#666;
	font-weight:bolder;
	text-decoration:none;
}

#projectmenu a.prjlocation:hover , #projectmenu a.prjlocation:active, #projectmenu a.prjlocation:focus {	
	background: url(../images/th/projects/txt/mnu-project-location-ovr.jpg) no-repeat;
	color:#98C53D;
	text-decoration:none;
}

#projectmenu a.prjfacilities,  #prjmodel a.prjfacilities:visited  {	
	background:  url(../images/th/projects/txt/mnu-project-facilities.jpg) no-repeat;
	padding:10px 0px 0px 50px;
	height:25px;
	display: block;
	cursor:pointer;
	font-size:13px;
	color:#666;
	font-weight:bolder;
	text-decoration:none;
}

#projectmenu a.prjfacilities:hover , #projectmenu a.prjfacilities:active, #projectmenu a.prjfacilities:focus {	
	background: url(../images/th/projects/txt/mnu-project-facilities-ovr.jpg) no-repeat;
	color:#98C53D;
	text-decoration:none;
}

#projectmenu a.prjgallery,  #prjmodel a.prjgallery:visited  {	
	background:  url(../images/th/projects/txt/mnu-project-gallery.jpg) no-repeat;
	padding:10px 0px 0px 50px;
	height:25px;
	display: block;
	cursor:pointer;
	font-size:13px;
	color:#666;
	font-weight:bolder;
	text-decoration:none;
}

#projectmenu a.prjgallery:hover , #projectmenu a.prjgallery:active, #projectmenu a.prjgallery:focus {	
	background: url(../images/th/projects/txt/mnu-project-gallery-ovr.jpg) no-repeat;
	color:#98C53D;
	text-decoration:none;
}
#projectmenu a.prjevent,  #prjmodel a.prjevent:visited  {	
	background:  url(../images/th/projects/txt/mnu-project-event.jpg) no-repeat;
	padding:10px 0px 0px 50px;
	height:25px;
	display: block;
	cursor:pointer;
	font-size:13px;
	color:#666;
	font-weight:bolder;
	text-decoration:none;
}

#projectmenu a.prjevent:hover , #projectmenu a.prjevent:active, #projectmenu a.prjevent:focus {	
	background: url(../images/th/projects/txt/mnu-project-event-ovr.jpg) no-repeat;
	color:#98C53D;
	text-decoration:none;
}
#projectmenu a.prjprogress,  #prjmodel a.prjprogress:visited  {	
	background:  url(../images/th/projects/txt/mnu-project-progress.jpg) no-repeat;
	padding:10px 0px 0px 50px;
	height:25px;
	display: block;
	cursor:pointer;
	font-size:13px;
	color:#666;
	font-weight:bolder;
	text-decoration:none;
}

#projectmenu a.prjprogress:hover , #projectmenu a.prjprogress:active, #projectmenu a.prjprogress:focus {	
	background: url(../images/th/projects/txt/mnu-project-progress-ovr.jpg) no-repeat;
	color:#98C53D;
	text-decoration:none;
}